.checkout {
  .scrut-error {
    border-left: solid 5px orange;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: white;
    p {
      margin: 0;
    }
  }
  .payment{
    background-color: white;
    padding: 1rem;
    margin-bottom: 1rem;
    border-top: solid 1px #dddddd;
    table {
      width: 100%;
      margin: 0 0 1rem 0;
      border: none;
      tr {
        td {
          border: none;
        }
      }
    }
  }

  .summary {
    border: solid 1px rgba(0,0,0,.08);
    background-color: white;
    padding: 1rem 1rem 0rem 1rem;
    margin: 1rem 0;
    .order-item {
      margin-bottom: 2rem;
    }

    .scrut-paymnet-method-description{
      display: none;
      border-top: solid 1px rgba($color: #000000, $alpha: .08);
      font-size: 80%;
      background-color: rgba($color: #000000, $alpha: .05);
      padding: 0 .5rem .5rem .5rem;
    }
  }
  .btn-pay {
    background-color: #d2232a;
  }

  .scrut-expandable {
    background: #fff;
    overflow: hidden;
    color: #000;   
    line-height: 50px;
  
    transition: all .5s ease-in-out;
    height: 0;
   }
   
   .scrut-expandable:target {
    height: 50px;
  }
}